<mat-toolbar color="primary">
    <span class="title" (click)="toggleAnimation()"
      [@titleAnimation]="isAnimated ? 'active' : 'inactive'">BitFood</span>
    <span class="spacer"></span>
    <!-- Menú 1 -->
    <button mat-button [matMenuTriggerFor]="menu1">Cliente</button>
    <mat-menu #menu1="matMenu">
      <button mat-button routerLink="/addCliente">Insertar Cliente</button>
      <button mat-button routerLink="/listCliente">Listar Cliente</button>
    </mat-menu>
  
    <!-- Menú 2 -->
    <button mat-button [matMenuTriggerFor]="menu2">Restaurante</button>
    <mat-menu #menu2="matMenu">
      <button mat-button routerLink="/">Insertar Restaurante</button>
      <button mat-button routerLink="/">Listar Restaurante</button>
    </mat-menu>
  
    <!-- Menú 3 -->
    <button mat-button [matMenuTriggerFor]="menu3">Plato</button>
    <mat-menu #menu3="matMenu">
      <button mat-button routerLink="/addPlato">Insertar Plato</button>
      <button mat-button routerLink="/listPlato">Listar Plato</button>
    </mat-menu>
  
    <!-- Menú 4 -->
    <button mat-button [matMenuTriggerFor]="menu4">Orden</button>
    <mat-menu #menu4="matMenu">
      <button mat-button routerLink="/">Insertar Orden</button>
      <button mat-button routerLink="/">Listar Orden</button>
    </mat-menu>

    <!-- Menú 5 -->
    <button mat-button [matMenuTriggerFor]="menu5">Login</button>
    <mat-menu #menu5="matMenu">
      <button mat-button routerLink="/">Sign in</button>
      <button mat-button routerLink="/">Sign up</button>
    </mat-menu>
  </mat-toolbar>
