<mat-card>
  <h2>Agregar Restaurante</h2>

<form [formGroup]="myForm" autocomplete="off">
  <div class="auto-container">
    <mat-form-field>
      <input
      matInput
      placeholder="Nombre"
      formControlName="nombre"
      required />
    </mat-form-field>
    <div
    *ngIf="
      myForm.get('nombre')?.hasError('required') &&
      myForm.get('nombre')?.touched
    "
    style="margin-top: -20px"
  >
    <span class="mda-form-msg"> Este campo es obligatorio </span>
  </div>

    <mat-form-field>
      <input
        matInput
        placeholder="Descripcion"
        formControlName="descripcion"
        required
      />
    </mat-form-field>
    <div
    *ngIf="
      myForm.get('descripcion')?.hasError('required') &&
      myForm.get('descripcion')?.touched
    "
    style="margin-top: -20px"
  >
    <span class="mda-form-msg"> Este campo es obligatorio </span>
  </div>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Cantidad"
      formControlName="cantidad"
      required
    />
  </mat-form-field>
  <div
  *ngIf="
    myForm.get('cantidad')?.hasError('required') &&
    myForm.get('cantidad')?.touched
  "
  style="margin-top: -20px"
>
  <span class="mda-form-msg"> Este campo es obligatorio </span>
</div>

<mat-form-field>
  <input
    matInput
    type="number"
    placeholder="Estrellas"
    formControlName="estrellas"
    required
  />
</mat-form-field>
<div
*ngIf="
  myForm.get('estrellas')?.hasError('required') &&
  myForm.get('estrellas')?.touched
"
style="margin-top: -20px"
>
<span class="mda-form-msg"> Este campo es obligatorio </span>
</div>

<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" formControlName="fecha">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<div
*ngIf="
  myForm.get('fecha')?.hasError('required') &&
  myForm.get('fecha')?.touched
"
style="margin-top: -20px"
>
<span class="mda-form-msg"> Este campo es obligatorio </span>
</div>



</div>

<div>
  <button class="button"
  mat-raised-button
  color="primary"
  [disabled]="myForm.invalid"
  type="button"
  style="margin-left: 10 px"
  (click)="addRestaurante()"
>

  Agregar
</button>

<button class="button"
mat-raised-button
color="warn"
type="button"
routerLink="/listRestaurante"
>
Cancelar
</button>

  </div>

</form>
</mat-card>

