<!doctype html>
<html lang="es">
    
    <head>
        
        <meta charset="utf-8">
        
        <title> Formulario de Acceso </title>    
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="author" content="Videojuegos & Desarrollo">
        <meta name="description" content="Muestra de un formulario de acceso en HTML y CSS">
        <meta name="keywords" content="Formulario Acceso, Formulario de LogIn">
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./login.component.css">
        <style type="text/css">
            
        </style>
        
        <script type="text/javascript">
        
        </script>
        
    </head>
    
    <body>
        
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Bienvenido
                    </div>

                    <section class="fondo">
                      <form class="formulario mb-5">
                        <div class="contenedor">
                          <div class="input-contenedor">
                            <i class="fa-solid fa-user icon"></i>
                            <input matInput type="text" placeholder="Usuario" [(ngModel)]="usuario" name="usuario" />
                          </div>
                          <div class="input-contenedor">
                            <i class="fa-solid fa-lock icon"></i>
                            <input type="password" matInput placeholder="Contraseña" [(ngModel)]="contrasena" name="contrasena" />
                          </div>
                          <button mat-raised-button color="warn" (click)="login()">Login</button>
                        </div>
                      </form>
                    </section>
                    
                    <div class="pie-form">
                      <a href="#" routerLink="/index" class="mat-h1">Volver</a> 
                    </div>
                </div>
                <div class="inferior">
                </div>
            </div>
        </div>
            
    </body>
</html>
