<mat-card>
    <h2>Agregar Plato</h2>
  
  <form [formGroup]="myForm" autocomplete="off">
    <div class="auto-container">
      <mat-form-field>
        <input
        matInput
        placeholder="Nombre"
        formControlName="nombre"
        required />
      </mat-form-field>
      <div
      *ngIf="
        myForm.get('nombre')?.hasError('required') &&
        myForm.get('nombre')?.touched
      "
      style="margin-top: -20px"
    >
      <span class="mda-form-msg"> Este campo es obligatorio </span>
    </div>
  
      <mat-form-field>
        <input
          matInput
          placeholder="Descripcion"
          formControlName="descripcion"
          required
        />
      </mat-form-field>
      <div
      *ngIf="
        myForm.get('descripcion')?.hasError('required') &&
        myForm.get('descripcion')?.touched
      "
      style="margin-top: -20px"
    >
      <span class="mda-form-msg"> Este campo es obligatorio </span>
    </div>
  
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Precio"
        formControlName="precio"
        required
      />
    </mat-form-field>
    <div
    *ngIf="
      myForm.get('precio')?.hasError('required') &&
      myForm.get('precio')?.touched
    "
    style="margin-top: -20px"
  >
    <span class="mda-form-msg"> Este campo es obligatorio </span>
  </div>
  
  
  </div>
  
  <div>
    <button class="button"
    mat-raised-button
    color="primary"
    [disabled]="myForm.invalid"
    type="button"
    style="margin-left: 10 px"
    (click)="addPlato()"
  >
  
    Agregar
  </button>
  
  <button class="button"
  mat-raised-button
  color="warn"
  type="button"
  routerLink="/listPlato"
  >
  Cancelar
  </button>
  
    </div>
  
  </form>
  </mat-card>
  
  